body {
  margin: 0;
  //   overflow: auto;
  //   background: #000;
}
.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation: 'screen' infinite;
  animation: 'screen' infinite;
  z-index: -1;
}
// .circle:nth-child(1) {
//   top: 0;
//   left: 3rem;
//   background: -webkit-radial-gradient(
//     center,
//     ellipse cover,
//     rgba(2, 226, 252, 0.65) 0%,
//     rgba(0, 0, 0, 0) 100%
//   );
//   box-shadow: 0px 0px 5px 0px #02e2fc;
//   animation-name: screen;
//   animation-iteration-count: infinite;
//   animation-duration: 5s;
// }

// .circle:nth-child(2) {
//   top: 1rem;
//   left: 30px;
//   background: -webkit-radial-gradient(
//     center,
//     ellipse cover,
//     rgba(250, 160, 2, 0.65) 0%,
//     rgba(0, 0, 0, 0) 100%
//   );
//   box-shadow: 0px 0px 5px 0px #faa002;
//   animation-name: screen;
//   animation-iteration-count: infinite;
//   animation-duration: 21s;
// }

.circle:nth-child(3) {
  top: 10rem;
  left: 12rem;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(20, 252, 2, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #14fc02;
  animation-name: screen;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

.circle:nth-child(4) {
  top: 0rem;
  left: 0rem;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(252, 2, 196, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #fc02c4;
  animation-name: screen;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}

.circle:nth-child(5) {
  top: 10rem;
  left: 1rem;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(139, 44, 148, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #8b2c94;
  animation-name: screen;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

.circle:nth-child(6) {
  top: 0;
  left: 20rem;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(251, 184, 41, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #fbb829;
  animation-name: screen;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

.circle:nth-child(7) {
  top: 10rem;
  left: 25rem;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(195, 255, 104, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #c3ff68;
  animation-name: screen;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.circle:nth-child(8) {
  top: 2rem;
  left: 33rem;
  //   background: -webkit-radial-gradient(
  //     center,
  //     ellipse cover,
  //     rgba(255, 0, 102, 0.65) 0%,
  //     rgba(0, 0, 0, 0) 100%
  //   );
  box-shadow: 0px 0px 5px 0px #ff0066;
  animation-name: screen;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
.circle:nth-child(9) {
  top: 0;
  left: 10rem;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #ffff00;
  animation-name: screen;
  animation-iteration-count: infinite;
  animation-duration: 13s;
}

.circle:nth-child(10) {
  top: 9rem;
  left: 40rem;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(127, 175, 27, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #7faf1b;
  animation-name: screen;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

.circle:nth-child(11) {
  top: 0;
  left: 45rem;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(1, 210, 255, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #01d2ff;
  animation-name: screen;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

.circle:nth-child(12) {
  top: 7rem;
  left: 52rem;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(237, 247, 255, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #edf7ff;
  animation-name: screen;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

.circle:nth-child(13) {
  top: 2rem;
  left: 62rem;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 255, 255, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #00ffff;
  animation-name: screen;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}

.circle:nth-child(14) {
  top: 10rem;
  left: 68rem;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 255, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #0000ff;
  animation-name: screen;
  animation-iteration-count: infinite;
  animation-duration: 14s;
}

.circle:nth-child(16) {
  top: 1rem;
  left: 78rem;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 51, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #ff3300;
  animation-name: screen;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

.circle:nth-child(17) {
  top: 8rem;
  left: 83rem;
  //   background: -webkit-radial-gradient(
  //     center,
  //     ellipse cover,
  //     rgba(255, 51, 0, 0.65) 0%,
  //     rgba(0, 0, 0, 0) 100%
  //   );
  box-shadow: 0px 0px 5px 0px #8cff00;
  animation-name: screen;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
.circle:nth-child(18) {
  top: 1rem;
  left: 90rem;
  //   background: -webkit-radial-gradient(
  //     center,
  //     ellipse cover,
  //     rgba(255, 51, 0, 0.65) 0%,
  //     rgba(0, 0, 0, 0) 100%
  //   );
  box-shadow: 0px 0px 5px 0px #8b10f7;
  animation-name: screen;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
.circle:nth-child(19) {
  top: 10rem;
  left: 95rem;
  //   background: -webkit-radial-gradient(
  //     center,
  //     ellipse cover,
  //     rgba(255, 51, 0, 0.65) 0%,
  //     rgba(0, 0, 0, 0) 100%
  //   );
  box-shadow: 0px 0px 5px 0px #f7107c;
  animation-name: screen;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes screen {
  from {
    opacity: 0;
  }

  25% {
    opacity: 0.5;
    transform: scale3d(3, 3, 4);
  }

  50% {
    opacity: 0.8;
  }

  75% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
