<footer class="footer">
   
    <p class="footer__copy">&copy;Lucía Kestel 2022</p>
    <nav class="footer__nav">
      <ul class="footer__nav__list">
        <li ><a href="mailto:luciakestelpires@gmail.com" target="_blank" class="footer__nav__list-element">Correo electrónico</a></li>
        <li ><a href="https://www.linkedin.com/in/lucia-kestel/" target="_blank" class="footer__nav__list-element">LinkedIn</a></li>
        <li ><a href="https://github.com/Luciakestel" target="_blank" class="footer__nav__list-element">GitHub</a></li>
      </ul>
    </nav>
    <div class="footer_box">
      <a href="index.html#header" class='footer_box_arrow'><i class="fa-solid fa-arrow-up footer_box_arrow"></i></a>
    </div>
  </footer>