<header class="header">
    <h1 class="header__title">Lucía Kestel</h1>
    <a href="" class="menu_hamb js_menu_hamb">
      <span class="hamb"></span>
    </a>
    <div>
      <ul class="redes">
        <li><a href="mailto:luciakestelpires@gmail.com" target="_blank" class="redes_icon"><i class="fa-regular fa-envelope preview__icons--color"></i></a></li>
        <li><a href="https://www.linkedin.com/in/lucia-kestel/" target="_blank" class="redes_icon"><i class="fa-brands fa-linkedin-in preview__icons--color"></i></a></li>
        <li><a href="https://github.com/Luciakestel" target="_blank" class="redes_icon"><i class="fa-brands fa-github-alt preview__icons--color"></i></a></li>
      </ul>
    </div>

    <div>
      <nav class="menuPlegable collapse js_menu">
        <ul class="menuPlegable__list">
          <li><a href="index.html#sobreMi" class="menuPlegable__list-element">Sobre mi</a></li>
          <li><a href="index.html#skills" class="menuPlegable__list-element">Skills</a></li>
          <li><a href="index.html#proyectos" class="menuPlegable__list-element">Proyectos</a></li>
          <li><a href="index.html#contacto" class="menuPlegable__list-element">Contacto</a></li>
        </ul>
      </nav>
      <nav class="header__nav ">
        <ul class="header__nav__list">
          <li><a href="index.html#sobreMi" class="header__nav__list-element links">Sobre mi</a></li>
          <li><a href="index.html#skills" class="header__nav__list-element links">Skills</a></li>
          <li><a href="index.html#proyectos" class="header__nav__list-element links">Proyectos</a></li>
          <li><a href="index.html#contacto" class="header__nav__list-element links">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>