<article class="proyectos_article">
    <h3 class="proyectos_article-title">@@title</h3>
    <p class="proyectos_article-text">@@subtitle</p>
    <a href="@@Urlproject"  title="link al URL del proyecto" target="_blank" ><img src="@@UrlImg" alt="previsualización de la página"class="proyectos_article-img"/></a>
    <div class="proyectos_container">
      <a href="@@Urlproject" title="link al URL del proyecto" target="_blank" class="proyectos_container-icon"><i class="fa-solid fa-link"></i></a>
      <a href="@@UrlRepo" title="repositorio en GitHub del proyecto" target="_blank" class="proyectos_container-icon"><i class="fa-brands fa-github-alt proyectos_container-icon"></i></a>
    </div>
  </article>