<section class="proyectos" id="proyectos">
    <h2 class="title proyectos_title"><span class="lines"> Proyectos </span></h2>
    <ul class="proyectos_list">
        <include src="./proyectos.html" title="Rick & Morty characters" subtitle="Proyecto individual" lenguaje="(REACT & SASS)" Urlproject="https://luciakestel.github.io/Rick-Morty-Characters/" UrlImg="./assets/images/rym.jpg" UrlRepo="https://github.com/Luciakestel/Rick-Morty-Characters" ></include>

        <include src="./proyectos.html" title="Star cards" subtitle="Proyecto grupal" lenguaje="(REACT, SASS, NODEJS, EXPRESS, SQL)" Urlproject="https://project-promo-r-module-4-team-6-production.up.railway.app/" UrlImg="./assets/images/star-cards.jpg" UrlRepo="https://github.com/Luciakestel/Star-Cards" ></include>

        <include src="./proyectos.html" title="Breaking Bad characters" subtitle="Proyecto individual" lenguaje="(HTML, SCSS & JS)" Urlproject="https://luciakestel.github.io/Breaking-Bad-Characters/" UrlImg="./assets/images/breaking-bad.jpg" UrlRepo="https://github.com/Luciakestel/Breaking-Bad-Characters" ></include>

        <include src="./proyectos.html" title="Awesome cards" subtitle="Proyecto grupal" lenguaje="(HTML, SCSS & JS)" Urlproject="https://luciakestel.github.io/Awesome-profile-cards/" UrlImg="./assets/images/awesome-cards.jpg" UrlRepo="https://github.com/Luciakestel/Awesome-profile-cards" ></include>

        <include src="./proyectos.html" title="Anonimus proxy" subtitle="Proyecto individual" lenguaje="(HTML & CSS)" Urlproject="https://luciakestel.github.io/Anonymus-proxy/" UrlImg="./assets/images/anonimus.jpg" UrlRepo="https://github.com/Luciakestel/Anonymus-proxy" ></include>

        <include src="./proyectos.html" title="Web grupal" subtitle="Proyecto grupal" lenguaje="(HTML & CSS)" Urlproject="https://luciakestel.github.io/Team-Web/" UrlImg="./assets/images/web-grupal.jpg" UrlRepo="https://github.com/Luciakestel/Team-Web" ></include>

        

        
    </ul>

   </section>