<section class="proyectos" id="proyectos">
    <h2 class="title"><span class="lines"> Proyectos </span></h2>
    <ul class="proyectos_list">
        <include src="./proyectos.html" title="Anonimus proxy" subtitle="Proyecto individual" Urlproject="http://beta.adalab.es/modulo-1-evaluacion-final-Luciakestel/" UrlImg="./assets/images/anonimus.jpg" UrlRepo="https://github.com/Adalab/modulo-1-evaluacion-final-Luciakestel" ></include>
        <include src="./proyectos.html" title="Web grupal" subtitle="Proyecto grupal" Urlproject="http://beta.adalab.es/project-promo-r-module-1-team-1/" UrlImg="./assets/images/web-grupal.jpg" UrlRepo="https://github.com/Adalab/project-promo-r-module-1-team-1" ></include>
        <include src="./proyectos.html" title="Breaking Bad characters" subtitle="Proyecto individual" Urlproject="http://beta.adalab.es/modulo-2-evaluacion-final-Luciakestel/" UrlImg="./assets/images/breaking-bad.jpg" UrlRepo="https://github.com/Adalab/modulo-2-evaluacion-final-Luciakestel" ></include>
        <include src="./proyectos.html" title="Web grupal" subtitle="Proyecto grupal" Urlproject="http://beta.adalab.es/project-promo-r-module-2-team-8/" UrlImg="./assets/images/awesome-cards.jpg" UrlRepo="https://github.com/Adalab/project-promo-r-module-2-team-8" ></include>
    </ul>

   </section>