<section class="skills" id="skills">
    <h2 class="title"><span class="lines"> Skills </span></h2>
    <div class="skills_container">
      <p class="skills_text">Maquetación: <span class="strong"> HTML5, CSS3, Flexbox, CSS grid, SASS, Bootstrap, Animaciones.</span></p>
      <p class="skills_text"><span class="strong">JavaScript</span> (ES6) y servicios web <span class="strong">(APIs)</span> de terceros.</p>
      <p class="skills_text">Control de versiones con <span class="strong">Git</span>.</p>
      <p class="skills_text">Creacion de SPAs con <span class="strong">React</span>.</p>
      <p class="skills_text">Conocimientos de APIs y <span class="strong">programación back:</span> aplicaciones con <span class="strong"> Node JS, express y SQL.</span></p>
      <p class="skills_text">Manejo de Slack, Github, VS Code, Gulp, Terminal, Linter, Zeplin.</p>
      <p class="skills_text"><span class="strong">Soft skills:</span> Desarrollo de proyectos bajo una filosofía Agile y Scrum, trabajo en remoto, trabajo en equipo, trabajo en pair programming.</p>
    </div>
   </section>