<section class="sobreMi" id="sobreMi">
    
    <article class="sobreMi_article">
      <img src="./assets/images/Lucia.jpg" alt="foto de Lucía Kestel" class="sobreMi_article_img">
      <h2 class="title sobreMi_title"><span class="lines"> Sobre mi </span></h2>
      <p class="sobreMi_article_text"> Mi nombre es Lucía. Estudié Ingeniería Química, y con el tiempo me di cuenta que realmente no me apasionaba, por ello, decidí darle un vuelco a mi vida y realizar un bootcamp de programación web, ahora felizmente puedo decir que soy <span class="front">desarrolladora Front End</span>. </p>
      
  </article>
   </section>