.footer {
  font-family: $fontPpal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1rem solid black;
  &__nav__list {
    display: flex;
    &-icon {
      padding: 0.5rem;
    }
  }
}
