.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  &_article {
    width: 15rem;
    height: 18rem;
    border: 0.1rem solid black;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
      font-family: 'Amatic SC', cursive;
      font-size: 1.8rem;
      font-weight: bold;
      margin-top: 1rem;
    }
    &-img {
      width: 10rem;
      height: 10rem;
      border-radius: 2rem;
      margin-top: 1rem;
    }
    &-text {
      margin-top: 0.5rem;
    }
  }
  &_container {
    &-icon {
      transform: scale(1.5);
      padding: 0.3rem;
      margin-top: 0.2rem;
    }
  }
}
.fa-github-alt {
  color: black;
}
.fa-link {
  color: darkblue;
}
