.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3rem;
  width: 300px;
  height: 85rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include tablet {
    width: 90%;
    height: auto;
    display: row;
    flex-wrap: wrap;
  }
  &_title {
    @include tablet {
      margin-top: 2rem;
    }
  }
  &_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 2rem;
    }
  }

  &_article {
    width: 15rem;
    height: 18rem;
    border: 0.2rem solid white;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
      font-family: 'Amatic SC', cursive;
      font-size: 1.8rem;
      font-weight: bold;
      margin-top: 1rem;
    }
    &-img {
      width: 10rem;
      height: 10rem;
      border-radius: 2rem;
      margin-top: 1rem;
    }
    &-text {
      margin-top: 0.5rem;
    }
  }
  &_container {
    &-icon {
      transform: scale(1.5);
      padding: 0.3rem;
      margin-top: 0.2rem;
    }
  }
}
.icon_link {
  color: black;
}
.icon_github {
  color: black;
}
