@use '../core/responsive' as *;

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--surface-bg);
  border-radius: 3rem;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  @include tablet {
    width: 90%;
  }
  &_title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &_container {
    width: 250px;
    @include tablet {
      width: 90%;
      text-align: start;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @include desktop {
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }
  &_text {
    line-height: 1.5rem;
    text-align: justify;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    list-style-type: circle;

    @include tablet {
      font-size: 1.2rem;
      margin-top: 1rem;
    }
  }
}
.strong {
  font-weight: bold;
}
