.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3rem;
  width: 300px;
  height: 33rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  @include tablet {
    margin-left: 10rem;
    margin-right: 10rem;
  }
  &_title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &_container {
    width: 250px;
  }
  &_text {
    line-height: 1.5rem;
    text-align: justify;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    list-style-type: circle;

    @include tablet {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
}
.strong {
  font-weight: bold;
}
