.sobreMi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3rem;
  width: 300px;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  @include tablet {
    width: 90%;
    display: grid;
    grid-template-areas: 'b a a' 'b c c' 'b c c';
  }
  &_title {
    margin-top: 3rem;
    margin-bottom: 1rem;
    grid-area: a;
    margin-left: 19rem;
  }
  &_article {
    text-align: center;
    @include tablet {
      display: grid;
    }

    &_text {
      padding: 0.5rem;
      text-align: center;
      text-align: justify;
      line-height: 1.5rem;
      margin-left: 0.7rem;
      margin-right: 0.7rem;
      @include tablet {
        width: 60%;
        margin-left: 19rem;
        margin-top: 6rem;
        font-size: 1.2rem;
        grid-area: c;
      }
    }
    &_img {
      width: 300px;
      height: 300px;
      margin-top: -16px;
      border-top-left-radius: 3rem;
      border-top-right-radius: 3rem;
      @include tablet {
        border-top-right-radius: 0;
        border-bottom-left-radius: 3rem;
        margin-top: 0;
        grid-area: b;
        margin-left: -1rem;
      }
    }
  }
}
.front {
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: $colorOne;

  @include tablet {
    font-size: 1.8rem;
  }
}

.lines:after,
.lines:before {
  content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
  text-decoration: line-through;
  @include tablet {
    content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
  }
}
