// @import 'components/circles';
@import 'core/variables';
@import 'core/reset';
@import 'core/responsive';
@import 'layout/header';
@import 'layout/sobreMi';
@import 'layout/skills';
@import 'layout/proyectos';
@import 'layout/contacto';
@import 'layout/footer';

.collapse {
  display: none;
}

.title {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  @include tablet {
    font-size: 1.5rem;
  }
}

.body {
  background: linear-gradient(#e57373, #ef9a9a, #ffcdd2, #ffebee);
}
